.name {
    font-weight: bold;
    font-size: 20px;
}

.lookingForAJob {
    margin: 10px 0;
    font-weight: bold;
    color: teal;
}

.title {
    color: teal;
}

.contacts {
    padding-left: 10px;
}

