.wrapper {
    height: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authedUser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.preloader {
    position: fixed;
    margin: 0 35%;
}

.text {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 5px;
}

.logoImg, .ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.authedUserName {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 740px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .logo {
        align-self: start;
    }

    .preloader {
        position: absolute;
    }

    .authedUser {
        align-self: flex-end;
    }

    .authedUserName {
        font-size: 16px;
    }

    .text {
        font-size: 24px;
    }

    .logoImg, .ava {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .logInBtn {
        align-self: flex-end;
    }
}