.wrapper {
    height: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.text {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 5px;
}

.logoImg, .ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}