.navBlock {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: navy;
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .navBlock {
    flex-direction: row;
    justify-content: space-around;
  }
}
