.layout {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
}

.body {
    min-height: 90vh;
    display: flex;
}

.navbar {
    width: 20%;
    background-color: lightblue;
}

.content {
    width: 80%;
    background-color: lavender;
}